{% extends "base.html" %}
{% block content %}
<h1><i class="glyphicon glyphicon-cutlery"></i>&nbsp;All recipes</h1>

<table class="table">
{% for recipe in recipes %}
<tr>
<td>
{%if recipe.hasBug %}
BUG
{%endif%}
</td>
<td><a href="{{recipe.get_absolute_url}}">{{ recipe.name|safe }}</a></td><td>{{ recipe.subtitle }}</td>
<td>
{% for t in recipe.get_tags %}
<a href="{{t.get_absolute_url}}">{{ t.name }}</a>&nbsp;
{% endfor %}
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
<!-- kate: space-indent on; indent-width 2; //-->